<footer class="footer">
    <!-- Footer Elements -->
    <div class="container-fluid cont">
        <div class="row">
            <div class="col-md-3">
                <img src="img/shinylist_icon.png">
                <br><br>
                <p class="footer-version">Shiny List Web v1.3.0</p>
                <p><a class="footer-links" data-toggle="modal" data-target="#credits-modal">Credits</a></p>
                <br><br>
            </div>
            <div class="col-md-3">
                <br>
                <h5><strong>Contacts</strong></h5>
                <p class="footer-text"><i class="fas fa-map-marker-alt"></i><span style="padding-left: 10px;">Aveiro, Portugal</span></p>
                <p class="footer-text"><i class="fas fa-envelope"></i><span style="padding-left: 10px;">shinylist@gmail.com</span></p>
                <p class="footer-text"><i class="fas fa-phone"></i><span style="padding-left: 10px;">234 234 234</span></p>
            </div>
            <div class="col-md-3">
                <br>
                <h5><strong>Social Media</strong></h5>
                <div id="social">
                    <a class="facebookBtn smGlobalBtn" href="#"></a>
                    <a class="twitterBtn smGlobalBtn" href="#"></a>
                    <a class="googleplusBtn smGlobalBtn" href="#"></a>
                </div>
            </div>
            <div class="col-md-3">
                <br>
                <h5><strong>Latest Updates</strong></h5>
                <div id="latest-updates-div">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="date-div text-center" style="width: 50px">
                                <span>07</span>
                                <p style="margin-bottom: 0px; padding-top: 5px;"><strong>JUN</strong></p>
                            </div>
                        </div>
                        <div class="col-md">
                            <p class="footer-version">Release of Shiny List Web v1.0.0</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>

    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright">
        <span class="footer-text">&copy;2020 </span><a class="footer-links" href="/">Shiny Listy&trade;</a><span class="footer-text">. All rights reserved</span>
    </div>

</footer>

<div class="modal fade" id="credits-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 400px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Credits</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: red;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="profile-pic-img-div text-center">
                <img src="/img/shinylist_icon.png" class="text-center">
            </div>
            <div class="modal-body">
                <p><strong>Developed by: </strong></p>
                <ul>
                    <li>Pedro Raimundo (Raimas96)</li>
                    <li>Eduardo Silva (edufcp95)</li>
                </ul>
                <p><strong>Special thanks to: </strong></p>
                <ul>
                    <li>Cátia Fidalgo (peebeenojay)</li>
                    <li>Nuno Capela (nunz19)</li>
                </ul>
                <p>for helping on the creation of Shiny List, wether by testing its features or giving ideas for its best implementation.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" style="color: white;" data-dismiss="modal"><i class="fas fa-times-circle"></i><span style="padding-left:10px">Close</i></button>
            </div>
        </div>
    </div>
</div>