<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<link rel="stylesheet" href="css/loading.css">

<div id="<%= data %>" style="display: none; padding-top: 200px;" class="text-center">
    <div class="o-pokeball c-loader u-flip"></div>
</div>