<div class="modal fade" id="premium-event-choose-modal" role="dialog">
    <div class="modal-dialog modal-lg" style="max-width: 70%;">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <p id="event-title"></p>
                </div>

                <div class="text-center">
                    <img id="event-medal">
                </div>

                <span class="premium-event-choose-pokemon-list-title">Premium Version Exclusive Pokémon:</span>
                <div class="event-exclusive-pokemon">
                </div>

                <span class="premium-event-choose-pokemon-list-title">Premium Version Shiny Boosted Pokémon:</span>
                <div class="event-shiny-boosted-pokemon">
                </div>
            </div>

            <div class="modal-footer">
                <div class="modal-footer-left">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                <div class="modal-footer-right">
                    <button type="button" class="btn btn-warning" id="premium-event-choose-modal-play-free-btn">Play Free Version</button>
                    <button type="button" class="btn btn-success" id="premium-event-choose-modal-play-premium-btn"><i class="event-choose-premium-btn-icon fas fa-money-bill-wave"></i>Play Premium Version</button>
                </div>
            </div>
        </div>
    </div>
</div>