<div class="modal fade" id="preview-event-modal" role="dialog">
    <div class="modal-dialog modal-lg" style="max-width: 70%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Featured Pokémon in <span id="preview-event-modal-event-title"></span></h5>
            </div>
            <div class="modal-body">
                <img src="/img/ic_shiny.png" class="preview-event-modal-is-shiny-icon-caption" />
                <span class="preview-event-modal-is-shiny-icon-legend">New Shiny</span>
                <div class="preview-event-modal-pokemon-list">
                </div>
            </div>

            <div class="modal-footer">
                <div class="modal-footer-left">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                <div class="modal-footer-right">
                    <button type="button" class="btn btn-warning" id="preview-event-modal-toggle-btn">Toggle Shiny</button>
                    <button type="button" class="btn btn-success" id="preview-event-modal-play-btn">Play!</button>
                </div>
            </div>
        </div>
    </div>
</div>