<div class="modal fade" id="search-help-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 400px;">
            <div class="modal-body">
                <div class="search-help-filters-div">
                    <p style="font-size: 20px; text-decoration: underline;"><b>Tip:</b></p>
                    <p><strong>Combining searches: </strong>Use <b>&</b> or <b>,</b> to combine searches as an and statement. For example, searching for grass&kanto will show all Kanto Grass-type Pokémon.</p>
                    <p><strong>Negation: </strong>Use <b>!</b> before the query to select Pokémon that don't match the query. For example, searching for !grass will show all non Grass-type Pokémon.</p>

                    <p style="font-size: 20px; text-decoration: underline;"><b>Filters:</b></p>
                    <div id="search-help-filters-div">

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>