<div class="modal fade" id="settings-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 400px;">
            <div class="modal-header">
                <h5 class="modal-title">Settings</h5>
                <span class="app-version"></span>
            </div>
            <div class="text-center" style="background-color: #343a40">
                <img src="/img/shinylist_icon.png" class="text-center" style="width: 128px;">
            </div>
            <div class="modal-body">
                <div class="cont settings-modal-clear-data-div">
                    <button class="btn btn-outline-warning" id="settings-modal-clear-data-btn"><span style="padding-left:10px">Clear App Data</button>
                    <span id="settings-modal-clear-data-success-label" style="display: none;">App Data Cleared</span>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" style="color: white;" data-dismiss="modal"><span>Close</button>
            </div>
        </div>
    </div>
</div>