<div class="container" id="pokemon-div" style="display: none;">

    <div class="container cont text-center">
        <h2 style="color: white; font-weight: bold;">Pick your Pokemon</h2>
    </div>

    <div class="row">
        <div class="col-md">
            <button class="btn back-btn"><i class="fa fa-arrow-left"></i><span style="padding-left: 10px;">Back</span></button>
        </div>
        <div class="col-md text-center selected-pokemon-count-text">
            <span>Number of Pokemon Selected: </span><span id="pokemon-selected-count">0</span><span> / 20</span>
        </div>
        <div class="col-md text-right">
            <form action="/shiny-simulator" method="post">
                <input id="pokemon-list-submit" name="pokemonList" value="[]" style="display: none;">
                <button class="btn btn-success" id="play-btn" disabled><span style="padding-right: 10px;">Play</span><i class="fa fa-play"></i></button>
            </form>
        </div>

    </div>

    <div class="row inner-scroll" id="pokemon-list-div" style="padding-top: 20px;">
    </div>
</div>