<div class="container-fluid" id="events-div" style="display: none;">

    <button class="btn back-btn"><i class="fa fa-arrow-left"></i><span style="padding-left: 10px;">Back</span></button>

    <div class="container cont text-center">
        <h2 style="color: white; font-weight: bold;">Events</h2>
        <p style="color: #fff; font-size: 23px; opacity: .7">Active Events</p>
    </div>

    <div class="row">
        <div class="col-md-12 col-12">
            <br>
            <div class="row">
                <div class="d-flex flex-row flex-nowrap" style="overflow-y: auto;" id="active-events-div"></div>

            </div>
        </div>
    </div>

    <br><br>

    <hr class="hr-home">

    <div class="container cont text-center">
        <p style="color: #fff; font-size: 23px; opacity: .7">Upcoming Events</p>
    </div>

    <div class="row">
        <div class="col-md-12 col-12">
            <br>
            <div class="row">
                <div class="d-flex flex-row flex-nowrap" style="overflow-y: auto;" id="future-events-div"></div>

            </div>
        </div>
    </div>

    <br><br>

    <hr class="hr-home">

    <div class="container cont text-center">
        <p style="color: #fff; font-size: 23px; opacity: .7">Past Events</p>
    </div>



    <div class="row">
        <div class="col-md-12 col-12">
            <br>
            <p style="color: #fff; font-size: 23px; opacity: .7; border-bottom: 3px solid #ffd700; width: fit-content; height: 45px;">2020</p>
            <div class="row">
                <div class="d-flex flex-row flex-nowrap" style="overflow-y: auto;" id="2020-events-div"></div>

            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-12">
            <br>
            <p style="color: #fff; font-size: 23px; opacity: .7; border-bottom: 3px solid #ffd700; width: fit-content; height: 45px;">2019</p>
            <div class="row">
                <div class="d-flex flex-row flex-nowrap" style="overflow-y: auto;" id="2019-events-div"></div>

            </div>

        </div>
    </div>

    <!--
    <div class="row">
        <div class="col-md-12 col-12">
            <br>
            <p style="color: #fff; font-size: 23px; opacity: .7">2018</p>
            <hr class="hr-event-category" style="width: 50px;">
            <div class="row">
                <div class="d-flex flex-row flex-nowrap" style="overflow-y: auto;" id="2018-events-div"></div>

            </div>

        </div>
    </div>-->

    <div class="row">
        <div class="col-md-12 col-12">
            <br>
            <p style="color: #fff; font-size: 23px; opacity: .7; border-bottom: 3px solid #ffd700; width: fit-content; height: 45px;">Community Day</p>
            <div class="row">
                <div class="d-flex flex-row flex-nowrap" style="overflow-y: auto;" id="cd-events-div"></div>

            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-12">
            <br>
            <p style="color: #fff; font-size: 23px; opacity: .7; border-bottom: 3px solid #ffd700; width: fit-content; height: 45px;">Go Fest & Safari Zone</p>
            <div class="row">
                <div class="d-flex flex-row flex-nowrap" style="overflow-y: auto;" id="go-fest-safari-events-div"></div>

            </div>

        </div>
    </div>


</div>