<script type="text/javascript" src="/js/stats.js"></script>

<div class="modal fade" id="stats-modal" role="dialog">
    <div class="modal-dialog modal-lg" style="max-width: 1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Stats</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: red;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <h2 id="list-title" style="color: white; font-weight: bold;"></h2>
                    <p style="color: #fff; font-size: 20px; opacity: .7; font-style: italic;">
                        <span id="stats-unique-count-label"><strong>Unique: </strong><span id="stats-unique-count"></span><strong></strong></span>
                        <span id="stats-available-count-label"><strong> / Available: </strong><span id="stats-available-count"></span><strong></strong></span>
                        <span id="stats-total-count-label"><strong> / Total: </strong><span id="stats-total-count"></span><strong></strong></span>
                        <span id="stats-percentage-count-label"><strong> / Percentage: </strong><span id="stats-percentage-count"></span>
                    </p>
                </div>

                <div class="dropdown">
                    <label for="stats-select" style="font-size: 18px; color: #fff; opacity: .7;">Calculate stats by: </label>
                    <button class="btn btn-outline-warning dropdown-toggle" type="button" id="stats-select" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="stats-select-text">Event</span>
                    </button>
                    <div class="dropdown-menu" id="stats-select-dropdown-div" aria-labelledby="stats-select">
                        <button type="button" class="dropdown-item dropdown-stats-list active" disabled><span>Event</span></button>
                        <button type="button" class="dropdown-item dropdown-stats-list"><span>Type</span></button>
                        <button type="button" class="dropdown-item dropdown-stats-list"><span>Region</span></button>
                        <button type="button" class="dropdown-item dropdown-stats-list"><span>Group</span></button>
                        <button type="button" class="dropdown-item dropdown-stats-list"><span>Year</span></button>
                    </div>
                </div>

                <p class="stats-modal-note">Note: Some Pokémon may be attached to more than one row in the table.</p>

                <table id="stats-table" class="table table-striped table-dark stats-table text-center" style="margin-top: 50px">
                    <thead>
                        <tr>
                            <th></th>
                            <th scope="col" id="stats-type-col"></th>
                            <th scope="col">Unique</th>
                            <th scope="col">Available</th>
                            <th scope="col">Total</th>
                            <th scope="col">%</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>