<div id="change-quantity-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Quantity: </h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="alert alert-danger" role="alert" style="display: none;">
                        <i class="fas fa-times-circle"></i><span style="padding-left: 10px">Wrong number format!</span>
                    </div>

                    <input name="pokemon" id="pokemon-id-hidden-input" style="display: none;">
                    <label for="new-quantity-input">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="new-quantity-input" placeholder="Enter new quantity" min="0">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button id="submit-new-quantity-form" type="button" class="btn btn-success">Confirm</button>
            </div>
        </div>
    </div>
</div>