<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Nome da aplicação">
    <meta name="author" content="Eduardo Silva">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ShinyList</title>
    <link rel="icon" href="img/shinylist_icon.ico">

    <!-- Custom styles -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/v4-shims.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/toastr.css" />
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/lucky-dex.css">
    <link rel="stylesheet" href="css/loader.css">

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="js/lucky-dex.js"></script>
    <script type="text/javascript" src="js/toastr.js"></script>

</head>

<body onload="loadData();" style="background-color: #343a40; ">

    <% include ../views/navbar.ejs %>

        <div class="container cont" style="min-height: 800px;">

            <div class="row">
                <div class="col-md-10"></div>
                <div class="col-md-2">
                    <div class="btn-group filter-dropdown">
                        <button type="button" class="btn btn-outline-warning" id="btn-filter-shinylist"><i class="fas fa-filter"></i><span style="padding-left: 10px; ">Filter</span></button>
                        <div class="filter-dropdown-content">
                            <div class="container">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="have-filter-checkbox" checked>
                                    <label class="form-check-label" for="have-filter-checkbox">Have</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="dont-have-filter-checkbox" checked>
                                    <label class="form-check-label" for="dont-have-filter-checkbox">Don't Have</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sticky-top second-sticky">
                <div class="cont text-center">
                    <h2 style="color: white; font-weight: bold;">My LuckyDex</h2>
                    <p style="color: #fff; font-size: 20px; opacity: .7; font-style: italic;">
                        <strong>Unique: </strong><span id="unique-count"></span>
                        <strong>/ Available: </strong><span id="available-count"></span>
                        <strong>/ Percentage: </strong><span id="unique-percentage"></span>
                    </p>
                </div>
            </div>

            <div id="loading" style="display: none; padding-top: 200px;" class="text-center">
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-danger" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-info" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-light" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-dark" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <div id="lucky-dex-list" class="row" style="display: none;">
            </div>

        </div>



        <% include ../views/footer.ejs %>

</body>

</html>