<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Nome da aplicação">
    <meta name="author" content="Eduardo Silva">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ShinyList</title>
    <link rel="icon" href="img/shinylist_icon.ico">

    <!-- Custom styles -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/v4-shims.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/shiny-simulator-styles.css">
    <link rel="stylesheet" href="css/styles.css">


    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="js/shiny-game-pick.js"></script>

</head>

<body onload="initApp();" style="background-color: #343a40;overflow-x: hidden;">

    <% include ../views/navbar.ejs %>

        <div class="container" id="home-page-div" style="min-height: 800px;">

            <div class="container cont text-center">
                <h2 style="color: white; font-weight: bold;">Shiny Simulator</h2>
                <p style="color: #fff; font-size: 23px; opacity: .7">Choose your mode: </p>
            </div>

            <div class="row" style="padding-top: 50px;">
                <div class="col-md text-center">
                    <img src="img/pokemon-mode.jpg" class="choose-mode-img" data-target="pokemon-mode">
                    <div class="row">
                        <div class="col-md-4">
                            <div id="pokemon-mode-loader" class="spinner-grow text-warning" role="status" style="display: none;">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div class="col-md-8 text-left">
                            <p class="choose-mode-text" data-target="pokemon-mode">Choose Pokemon</p>
                        </div>
                    </div>
                </div>
                <div class="col-md text-center">
                    <img src="img/pokemon-events-mode.jpg" class="choose-mode-img" data-target="event-mode">
                    <div class="row">
                        <div class="col-md-4">
                            <div id="event-mode-loader" class="spinner-grow text-warning" role="status" style="display: none;">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div class="col-md-8 text-left">
                            <p class="choose-mode-text" data-target="event-mode">Choose an Event</p>
                        </div>
                    </div>
                </div>
            </div>



        </div>


        <% include ../views/shiny-simulator-pick-event.ejs %>
            <% include ../views/shiny-simulator-pick-pokemon.ejs %>

                <br><br><br>

                <% include ../views/footer.ejs %>
</body>

</html>