<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Nome da aplicação">
    <meta name="author" content="Eduardo Silva">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ShinyList</title>
    <link rel="icon" href="img/shinylist_icon.ico">

    <!-- Custom styles -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/v4-shims.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/toastr.css" />
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/shiny-list.css">
    <link rel="stylesheet" href="css/loader.css">

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="js/shiny-list.js"></script>
    <script type="text/javascript" src="js/toastr.js"></script>

</head>

<body onload="loadNavbar();" style="background-color: #343a40; ">

    <% include ../views/navbar.ejs %>

        <div id="loader"></div>
        <div class="container cont">


            <!-- SEARCH BAR -->
            <div class="row">
                <div class="col-md-9 cont">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group has-search">
                                <span class="fa fa-search form-control-feedback"></span>
                                <input type="text" id="query-search-input" class="form-control float-left" placeholder="Search" aria-describedby="searchHelp" name="query" autocomplete="off">
                                <small id="searchHelp" class="form-text text-muted"><a class="search-filters-btn" data-toggle="modal" data-target="#search-help-modal">See search filters</a></small>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <div class="form-group float-right">
                                <button type="button" class="btn btn-outline-warning" id="btn-search-shinylist"><i class="fas fa-search"></i><span style="padding-left: 10px; ">Search</span></button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-3 cont">
                    <div class="btn-group mr-2">
                        <div class="dropdown">
                            <button class="btn btn-outline-warning dropdown-toggle" type="button" id="sortDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-sort"></i><span style="padding-left: 10px; ">Sort</span>
                            </button>

                            <div class="dropdown-menu" aria-labelledby="sortDropdownMenu">
                                <button type="button" id="sort-num-1n-btn" class="dropdown-item dropdown-sort-shinylist active" disabled><i class="fas fa-sort-numeric-down"></i><span style="padding-left: 10px;"># Pokedex (1 -> ...)</span></button>
                                <button type="button" id="sort-num-n1-btn" class="dropdown-item dropdown-sort-shinylist"><i class="fas fa-sort-numeric-down-alt"></i><span style="padding-left: 10px;"># Pokedex (... -> 1)</span></button>
                                <button type="button" id="sort-date-old-btn" class="dropdown-item dropdown-sort-shinylist"><i class="far fa-clock"></i><span style="padding-left: 10px;">Date (Oldest)</span></button>
                                <button type="button" id="sort-date-new-btn" class="dropdown-item dropdown-sort-shinylist"><i class="far fa-clock"></i><span style="padding-left: 10px;">Date (Most Recent)</span></button>
                                <button type="button" id="sort-changed-old-btn" class="dropdown-item dropdown-sort-shinylist"><i class="fas fa-clock"></i><span style="padding-left: 10px;">Changed (Oldest)</span></button>
                                <button type="button" id="sort-changed-new-btn" class="dropdown-item dropdown-sort-shinylist"><i class="fas fa-clock"></i><span style="padding-left: 10px;">Changed (Most Recent)</span></button>
                                <button type="button" id="sort-name-az-btn" class="dropdown-item dropdown-sort-shinylist"><i class="fas fa-sort-alpha-down"></i><span style="padding-left: 10px;">Alphabetically (A -> Z)</span></button>
                                <button type="button" id="sort-name-za-btn" class="dropdown-item dropdown-sort-shinylist"><i class="fas fa-sort-alpha-down-alt"></i><span style="padding-left: 10px;">Alphabetically (Z -> A)</span></button>
                                <button type="button" id="sort-family-az-btn" class="dropdown-item dropdown-sort-shinylist"><i class="fas fa-sort-alpha-down"></i><span style="padding-left: 10px;">Family (A -> Z)</span></button>
                                <button type="button" id="sort-family-za-btn" class="dropdown-item dropdown-sort-shinylist"><i class="fas fa-sort-alpha-down-alt"></i><span style="padding-left: 10px;">Family (Z -> A)</span></button>
                            </div>
                        </div>
                    </div>

                    <div class="btn-group filter-dropdown">
                        <button type="button" class="btn btn-outline-warning" id="btn-filter-shinylist"><i class="fas fa-filter"></i><span style="padding-left: 10px; ">Filter</span></button>
                        <div class="filter-dropdown-content">
                            <div class="container">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="costume-filter-checkbox" checked>
                                    <label class="form-check-label" for="costume-filter-checkbox">Costume</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="shadow-filter-checkbox" checked>
                                    <label class="form-check-label" for="shadow-filter-checkbox">Shadow</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="purified-filter-checkbox" checked>
                                    <label class="form-check-label" for="purified-filter-checkbox">Purified</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="sticky-top second-sticky">
                <div class="cont text-center">
                    <h2 style="color: white; font-weight: bold;">My Shiny List</h2>
                    <p style="color: #fff; font-size: 20px; opacity: .7; font-style: italic;">
                        <strong>Unique: </strong><span id="unique-count"></span>
                        <strong>/ Available: </strong><span id="available-count"></span>
                        <strong>/ Total: </strong><span id="total-count"></span>
                        <strong>/ Percentage: </strong><span id="unique-percentage"></span>
                    </p>
                </div>
            </div>


            <div class="row shinylist">
                <% pokemon_data.forEach(function(pokemon) { %>
                    <div class="col-md-3 col-12 cont shinylist-card-design">
                        <div class="shinylist-card">
                            <span id="pokemon-id" style="display: none;"><%= pokemon.id %></span>
                            <% if(pokemon.quantity > 0) { %>
                                <img id="pokemon-card-img" src="/img/pokemon_icons/<%= pokemon.image.image_shiny %>" class="img-responsive img-shiny" style="height: 60%;" />
                                <% } else { %>
                                    <img id="pokemon-card-img" src="/img/pokemon_icons/<%= pokemon.image.image_normal %>" class="img-responsive img-normal" style="height: 60%;" />
                                    <% } %>
                                        <div id="pokemon-quantity-label" class="image-label">
                                            <%= pokemon.quantity %>x</div>
                                        <% if(pokemon.filters.shadow) { %>
                                            <img id="pokemon-type-icon" src="/img/ic_shadow.png" class="img-responsive icon-type" />
                                            <% } else if(pokemon.filters.purified)  { %>
                                                <img id="pokemon-type-icon" src="/img/ic_purified.png" class="img-responsive icon-type" />
                                                <% } %>
                                                    <div class="card-body">
                                                        <div class="card-title-div">
                                                            <span class="card-title" title="<%= pokemon.name %>"><%= pokemon.name %></span>
                                                        </div>
                                                        <p class="card-text"><strong>Event:</strong>
                                                            <%= pokemon.event %>
                                                        </p>
                                                        <div class="row">
                                                            <div class="col-md-7">
                                                                <% if(pokemon.quantity == 0) { %>
                                                                    <button id="pokemon-remove-btn" class="button-remove" disabled><i class="fas fa-minus"></i></button>
                                                                    <% } else { %>
                                                                        <button id="pokemon-remove-btn" class="button-remove"><i class="fas fa-minus"></i></button>
                                                                        <% } %>
                                                                            <button id="pokemon-add-btn" class="button-add"><i class="fas fa-plus"></i></button>
                                                            </div>
                                                            <div class="col-md-5 text-right">
                                                                <!--<button id="pokemon-change-btn" class="btn btn-secondary">Change</button>-->
                                                                <div class="dropdown">
                                                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="actions-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                      <i class="fas fa-cogs"></i>
                                                                    </button>
                                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                        <a class="dropdown-item" id="pokemon-update-shiny-btn" style="cursor: pointer;">Update shiny amount</a>
                                                                        <% if(!pokemon.isTemporary) { %>
                                                                            <a class="dropdown-item" id="pokemon-update-checks-btn" style="cursor: pointer;">Update number of checks</a>
                                                                            <% } %>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>


        <% include ../views/pokemon-bio-modal.ejs %>
            <% include ../views/search-help-modal.ejs %>
                <% include ../views/update-shiny-amount-modal.ejs %>
                    <% include ../views/update-checks-modal.ejs %>




                        <% include ../views/footer.ejs %>

                            <script>
                                var data = [];

                                '<% pokemon_data.forEach(function(pokemon) { %>'
                                data.push('<%- JSON.stringify(pokemon).replace(/[\/\(\)\']/g, "\\$&") %>');
                                '<% }); %>'

                                loadData(data);
                                document.onreadystatechange = function() {
                                    if (document.readyState !== "complete") {
                                        document.querySelector(
                                            "body").style.visibility = "hidden";
                                        document.querySelector(
                                            "#loader").style.visibility = "visible";
                                    } else {
                                        document.querySelector(
                                            "#loader").style.display = "none";
                                        document.querySelector(
                                            "body").style.visibility = "visible";
                                    }
                                };
                            </script>

</body>

</html>